.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.idea

.llm_context/


*/__pycache__/
*/.pytest_cache/
**/.pytest_cache/
**/__pycache__/