client_project_id                = "your-client-project-id"
hub_project_id                   = "aegis-hub-2137"
hub_pubsub_topic_name            = "aegis-incoming-logs"
hub_bot_service_account_email    = "aegis-bot-sa@aegis-hub-2137.iam.gserviceaccount.com"
region                           = "europe-central2"
environment                      = "dev"
