client_project_id                         = "your-client-project-id"
hub_project_id                            = "aegis-hub-2137"
hub_pubsub_topic_name                     = "aegis-incoming-logs"
hub_query_processor_service_account_email = "aegis-query-processor-sa@aegis-hub-2137.iam.gserviceaccount.com"
log_sink_namespace                        = "aegis-demo"
gke_machine_type                          = "e2-medium"
gke_disk_size_gb                          = 50
region                                    = "europe-central2"
environment                               = "dev"
client_artifact_registry_repository_id    = "aegis-client-services"
